<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorial - Spark Dashboard</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <a href="/" class="logo">
      <img src="../../logo.png" alt="Logo" />
    </a>
    <h1 class="title">TITLE</h1>
    <div class="thumbnail">
    <img src="" alt="thumbnail"/>
</div>
    <p class="intro">INTRO</p>
    <section>
      <article class="subtitle">
        <h3 class="subtitle--step">Step 1</h3>
        <span class="subtitle--explanation"> - </span>
      </article>
      <ul class="list">
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
      </ul>
    </section>
    <section>
      <article class="subtitle">
        <h3 class="subtitle--step">Step 2</h3>
        <span class="subtitle--explanation"> - </span>
      </article>
      <ul class="list">
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
      </ul>
    </section>
    <section>
      <article class="subtitle">
        <h3 class="subtitle--step">Step 3</h3>
        <span class="subtitle--explanation"> - </span>
      </article>
      <ul class="list">
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
      </ul>
    </section>
  </body>
</html>
